{% extends 'office-base.html' %}

{% block title %}Office | Create Expense{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Official : <span style="color: red;">{{ request.user.school | title }}</span></h5>
    </div>

    <!--member registration section-->
    <div class="col s12 m12">
        <div class="card white darken-1">
            <div class="card-content black-text">
                <span class="card-title">Create Expense</span>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <form method="post">
                            {% csrf_token %}

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                Select Catagory:
                                {{ expense_create_form.catagory }}
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">create</i>
                                {{ expense_create_form.name }}
                                <label for="icon_prefix white-text">Expense Name</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">create</i>
                                {{ expense_create_form.amount }}
                                <label for="icon_prefix white-text">Amount</label>
                            </div>

                            <div class="input-field col s12 m12 l12">
                                <i class="material-icons prefix">create</i>
                                {{ expense_create_form.description }}
                                <label for="icon_prefix white-text">Description</label>
                            </div>

                            <div class="col s12 m6 l6" style="margin-top: 20px;">
                                Select Payment Method:
                                {{ expense_create_form.method }}
                            </div>

                            <p>&nbsp;</p>
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">perm_contact_calendar</i>
                                {{ expense_create_form.date }}
                                <label for="icon_prefix white-text">Date</label>
                            </div>

                            {% if exam_routine_form.non_field_errors %}
                                {% for error in exam_routine_form.non_field_errors %}
                                    <div class="col s12 m12 l12 center-align">
                                        <p style="color: red; font-size: 20px;">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                                <button class="btn waves-effect waves-light" type="submit" style="">Create
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end member registration section-->
{% endblock %}

{% block js %}
    <script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        format: 'yyyy-mm-dd',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });
    </script>
{% endblock %}
