{% extends 'office-base.html' %}

{% block title %}Office | Expense-List{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Official : <span style="color: red;">{{ request.user.school | title }}</span></h5>
        <h5>Expense List Detail</h5>
    </div>

    <!--class routine section-->
    {% if expenses %}
        {% for expense in expenses %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Expense Catagory : {{ expense.catagory.name }}</span>
                        <p>
                            Expense Name: {{ expense.name | title }}
                        </p>

                        <p>
                            Amount : {{ expense.amount }}
                        </p>
                    </div>

                    <div class="card-action">
                        <a href="{% url 'office:expense-detail' pk=expense.id %}">View</a>
                        <a href="{% url 'office:expense-edit' pk=expense.id %}">Edit</a>
                        <a href="{% url 'office:expense-delete' pk=expense.id %}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No expense found</h4>
    {% endif %}
    <!--end class routine section-->
{% endblock %}
