{% extends 'office-base.html' %}

{% block title %}Office | Member Edit{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Official : <span style="color: red;">{{ request.user.school | title }}</span></h5>
    </div>

    <!--member registration section-->
    <div class="col s12 m12">
        <div class="card white darken-1">
            <div class="card-content black-text">
                {% if viewable_user %}
                    <span class="card-title">Member Registration</span>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ member_edit_form.as_p }}

                        <button type="submit">Edit</button>
                    </form>

                {% else %}
                    <h4>You have not any permission to edit this profile!</h4>
                {% endif %}
            </div>

            {% if viewable_user %}
                <div class="card-action">
                    <a href="{% url 'office:office-registration' %}">Click To See Operations</a>
                </div>
            {% endif %}
        </div>
    </div>
    <!--end member registration section-->
{% endblock %}
