{% extends 'office-base.html' %}

{% block title %}Office | Subject List{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Official : <span style="color: red;">{{ request.user.school | title }}</span></h5>
    </div>

    <!--member search section-->
    {% if subjects %}
        <div class="col s12 m12">
            <h5>Total {{ count }} subject found : </h5>
        </div>

        {% for subject in subjects %}
            <div class="col s12 m12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Subject : {{ subject.name | title }}</span>

                        <p>
                            School: {{ subject.school.name | title }}
                        </p>

                        <p>
                            Class: {{ subject.classes.name | title }}
                        </p>
                    </div>

                    <div class="card-action">
                        <a href="{% url 'office:subject-edit' pk=subject.id %}">Edit Subject</a>
                        <a href="{% url 'office:subject-delete' pk=subject.id %}">Delete Subject</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No subject found!</h4>
    {% endif %}
    <!--end member search section-->
{% endblock %}

{% block js %}

{% endblock %}
