{% extends 'teacher-base.html' %}

{% block title %}Office | Take Attendance{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Teacher : <span style="color: red;">{{ request.user.school | title }}</span></h5>

        <h5>Today : {{ now }}</h5>
    </div>

    {% if students %}
        <div class="col s12 m12">
            <h5 class="left">Total {{ count }} student found : </h5>
            <h5 class="right present_status"></h5>
        </div>

        <div class="col s12 m12 l12">
            <form method="post">
                {% for student in students %}
                        {% if student in present_lists %}
                            <p class="col s6 m4 l3" style="margin-top: 30px;">
                                <input type="checkbox" checked class="checkbox_stu" value="{{ student.username }}" id="{{ student.id }}" />
                                <label for="{{ student.id }}">{{ student.username }}-{{ student.student.roll }}</label>
                            </p>
                        {% else %}
                            <p class="col s6 m4 l3" style="margin-top: 30px;">
                                <input type="checkbox" class="checkbox_stu" value="{{ student.username }}" id="{{ student.id }}" />
                                <label for="{{ student.id }}">{{ student.username }}-{{ student.student.roll }}</label>
                            </p>
                        {% endif %}
                {% endfor %}
            </form>
        </div>
    {% else %}
        <h4>No Student found!</h4>
    {% endif %}

{% endblock %}

{% block js %}
<script>
    $(document).ready( function() {
        $(".checkbox_stu").change( function() {
            var student_username = $(this).closest(".checkbox_stu").val();
            var attendance_id = {{ attendance_id }}

            if ($(this).prop('checked')) {
                var status = "take_present";

                $.ajax({
                    url: '/teacher/attendance/api/',
                    data: { "student":student_username, "attendance_id":attendance_id, "status":status, },
                    dataType: 'json',

                    success: function (data) {
                        console.log(data);

                        $(".present_status").html(data.message);

                    }
                });
            }else{
                var status = "take_absent";

                $.ajax({
                    url: '/teacher/attendance/api/',
                    data: { "student":student_username, "attendance_id":attendance_id, "status":status, },
                    dataType: 'json',

                    success: function (data) {
                        console.log(data);

                        $(".present_status").html(data.message);

                    }
                });
            }
        });
    });
</script>
{% endblock %}
