{% extends 'teacher-base.html' %}

{% block title %}Teacher | Change Password{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 10px;">
        <h4>Change your Password</h4>
        <form method="post">
            {% csrf_token %}

            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">lock</i>
                {{ change_password_form.old_password }}
                <label for="icon_prefix white-text">Old Password</label>
            </div>

            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">lock</i>
                {{ change_password_form.new_password1 }}
                <label for="icon_prefix white-text">New Password</label>
            </div>

            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">lock</i>
                {{ change_password_form.new_password2 }}
                <label for="icon_prefix white-text">Retype New Password</label>
            </div>

            <div class="col s12 m12 l12 center-align">
                <p style="color: red; font-size: 20px;">
                    {{ change_password_form.old_password.errors }}
                    {{ change_password_form.new_password1.errors }}
                    {{ change_password_form.new_password2.errors }}
                </p>
            </div>

            <div class="center-align" style="margin-bottom: 20px;">
                <button class="btn waves-effect waves-light" name="info_change" value="info_change" type="submit" style="">Change
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>
{% endblock %}


{% block js %}

<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
</script>

{% endblock %}
