{% extends 'teacher-base.html' %}

{% block title %}Teacher | Home{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Teacher : <span style="color: red;">{{ request.user.school | title }}</span></h5>
    </div>

    <!--member registration section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Student Attendance</span>
                <p>
                    In this section teacher can get attendance to their student.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'teacher:attendance-class-list' %}">Class List</a>
            </div>
        </div>
    </div>
    <!--end member registration section-->


    <!--member registration section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Exam And Marks</span>
                <p>
                    In this section teacher can take exam to their students exam marks.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'teacher:exam-and-marks-home' %}">View Operations</a>
            </div>
        </div>
    </div>
    <!--end member registration section-->


    <!--member registration section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Notice From Teacher</span>
                <p>
                    In this section teacher can create notice to their students.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'teacher:notice' %}">View Operations</a>
            </div>
        </div>
    </div>
    <!--end member registration section-->


    <!--member registration section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Schedules</span>
                <p>
                    In this section teacher can view schedule( class / exam ).
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'teacher:schedule' %}">View Operations</a>
            </div>
        </div>
    </div>
    <!--end member registration section-->


    <!--member registration section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Teacher Detail</span>
                <p>
                    In this section teacher can view teacher's.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'teacher:teacher-detail' %}">View Operations</a>
            </div>
        </div>
    </div>
    <!--end member registration section-->


{% endblock %}
